body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Aligns the nav items to the right */
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 10px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFFF00;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #111;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-section h1 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #FFFF00;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.home-text {
    max-width: 600px;
    margin: 20px;
}

.home-text h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.home-text h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.home-text p {
    font-size: 1em;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FFFF00;
    text-decoration: none;
    border: 2px solid #FFFF00;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #FFFF00;
    color: #000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid #444;
}

footer a {
    color: #FFFF00;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #FF4500;
}
